css
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffacd;
}

header {
  background-color:#543FDF;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-align: right;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.form-section {
  background-color: #47C3FC;
  padding: 30px;
}

form {
  max-width: 500px;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #888;
  border-radius: 4px;
}

button {
  background-color: #33FCFF;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005f5f;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;